/**
 * Общие стили для всего фреймворка
 *
 * Автор: Ерохин Максим
 * Дата: 12.11.2018
 */

:root {
  // Цвета
  --faze-color-primary: #2563eb;
  --faze-color-primary-dark: #1d53c7;
  --faze-color-success: #4bb543;
  --faze-color-error: #e94151;
  --faze-color-white: #ffffff;
  --faze-color-black: #000000;
  --faze-color-text: #424242;
  --faze-color-hover: #e7e7e7;
  --faze-color-base: #f4f4f4;
  --faze-color-border: #bdbdbd;
  --faze-color-overlay: rgba(33, 33, 33, 0.5);
  --faze-color-background: #ffffff;
  --faze-color-background-hover: #2563eb1a;
  --faze-color-background-active: #2563eb33;

  // Тень
  --faze-shadow-light: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.12), 0 0.1rem 0.2rem rgba(0, 0, 0, 0.24);
  --faze-shadow-medium: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.23);
  --faze-shadow-heavy: 0 1rem 2rem rgba(0, 0, 0, 0.19), 0 0.6rem 0.6rem rgba(0, 0, 0, 0.23);

  // Границы
  --faze-border-radius: 0.5rem;

  // Шрифты
  --faze-font-fontawesome: 'Font Awesome 6 Pro';

  --faze-line-height: 1.2;

  --faze-size-xs: 1.2rem;
  --faze-size-sm: 1.4rem;
  --faze-size-md: 1.6rem;
  --faze-size-lg: 1.8rem;
  --faze-size-xl: 2rem;

  // Отступы
  --faze-margin-xs: 0.4rem;
  --faze-margin-sm: 0.8rem;
  --faze-margin-md: 1.2rem;
  --faze-margin-lg: 1.6rem;
  --faze-margin-xl: 2rem;

  --faze-padding-xs: 0.4rem;
  --faze-padding-sm: 0.8rem;
  --faze-padding-md: 1.2rem;
  --faze-padding-lg: 1.6rem;
  --faze-padding-xl: 2rem;

  --faze-gap-xs: 0.4rem;
  --faze-gap-sm: 0.8rem;
  --faze-gap-md: 1.2rem;
  --faze-gap-lg: 1.6rem;
  --faze-gap-xl: 2rem;

  // Брейкпоинты
  --faze-breakpoint-xs: 480px;
  --faze-breakpoint-sm: 768px;
  --faze-breakpoint-md: 1024px;
  --faze-breakpoint-lg: 1280px;
  --faze-breakpoint-xl: 1440px;
}

* {
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

// Принудительное скрытие
.faze-hide {
  display: none !important;
}

.faze-hidden {
  visibility: hidden !important;
}

// Анимации

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(4px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}