/**
 * Общие стили для всего фреймворка
 *
 * Автор: Ерохин Максим, plarson.ru
 * Дата: 12.11.2018
 */

* {
  outline: none;
  box-sizing: border-box;
}

// Принудительное скрытие
.faze-hide {
  display: none !important;
}
