/**
 * Стили для плагина умного селекта
 *
 * Автор: Ерохин Максим
 * Дата: 11.06.2022
 */

.faze-smartsearch-items {
  position: absolute;
  top: 100%;
  left: 0;

  display: none;
  max-height: 33rem;

  margin-top: var(--faze-margin-md);

  border: 1px solid var(--faze-color-border);
  border-radius: var(--faze-border-radius);
  background: var(--faze-color-background);
  box-shadow: var(--faze-shadow-light);

  overflow: auto;

  animation: fadeInUp 0.2s ease-out;

  z-index: 5;

  // Элемент
  .faze-smartsearch-item {
    padding: var(--faze-padding-sm) var(--faze-padding-md);

    color: var(--faze-color-text);
    font-size: var(--faze-size-sm);
    line-height: var(--faze-line-height);

    user-select: none;

    // При наведении или активности
    &.faze-active,
    &:hover {
      cursor: pointer;

      background: var(--faze-color-background-hover);
    }
  }

  // Открыто
  &.faze-active {
    display: block;
  }
}