/**
 * Стили для плагина умного селекта
 *
 * Автор: Ерохин Максим
 * Дата: 11.06.2022
 */

.faze-smartsearch-items {
  position: absolute;
  top: 100%;
  left: 0;

  display: none;
  max-height: 330px;

  background-color: #fff;

  overflow: auto;

  z-index: 5;

  // Элемент
  .faze-smartsearch-item {
    user-select: none;

    // При наведении
    &:hover {
      cursor: pointer;
    }
  }

  // Открыто
  &.faze-active {
    display: block;
  }

  // Если нужно базовое оформление
  &[data-faze-styles] {
    border: 1px solid #aaa;

    // Элемент
    .faze-smartsearch-item {
      padding: 5px 10px;

      // При наведении или активности
      &.faze-active,
      &:hover {
        background-color: #ccc;
      }
    }
  }
}
