/**
 * Стили для модуля зумбокс
 *
 * Автор: Ерохин Максим, plarson.ru
 * Дата: 09.01.2020
 */

// Элементы при нажатии на которые вызываем модуль
[data-faze-zoombox-image] {

  // При наведении
  &:hover {
    cursor: zoom-in;
  }
}

// Враппер зумбокса
.faze-zoombox-wrapper {
  position: absolute;

  padding: 0.5rem;

  border: 0.1rem solid #666;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.7);

  // Изображение
  .faze-zoombox-image {
    display: flex;
    width: 100%;
    height: 100%;

    // При наведении
    &:hover {
      cursor: zoom-out;
    }
  }

  // Подпись
  .faze-zoombox-caption {
    &:not(:empty) {
      margin-top: 0.5rem;
    }
  }

  // Стрелки
  .faze-zoombox-arrow {
    position: absolute;
    top: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 3rem;
    height: 3rem;

    border-radius: 50%;
    background-color: #fff;

    user-select: none;

    transform: translateY(-50%);

    // Сама стрелка
    &:after {
      content: '';

      width: 1rem;
      height: 1rem;

      border-right: 0.2rem solid #000;
      border-top: 0.2rem solid #000;
    }

    // Следующая
    &.faze-zoombox-arrow-next {
      right: 1.5rem;

      // Сама стрелка
      &:after {
        transform: translateX(-20%) rotateZ(45deg);
      }
    }

    // Предыдущая
    &.faze-zoombox-arrow-prev {
      left: 1.5rem;

      // Сама стрелка
      &:after {
        transform: translateX(20%) rotateZ(225deg);
      }
    }

    // При наведении
    &:hover {
      cursor: pointer;
    }
  }

  // Кнопка закрытия
  .faze-zoombox-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 3rem;
    height: 3rem;

    border-radius: 50%;
    background-color: #fff;

    &:before,
    &:after {
      content: '';

      position: absolute;

      display: block;
      width: 2rem;
      height: 0.2rem;

      background-color: #000;
    }

    &:before {
      transform: rotateZ(45deg);
    }

    &:after {
      transform: rotateZ(-45deg);
    }

    &:hover {
      cursor: pointer;
    }
  }

  // Перетаскиваем
  &.faze-drag-active {
    // При наведении
    &:hover {
      cursor: move;
    }

    // Изображение
    .faze-zoombox-image {
      // При наведении
      &:hover {
        cursor: move;
      }
    }
  }
}