/**
 * Стили для плагина спойлера
 *
 * Автор: Ерохин Максим, plarson.ru
 * Дата: 17.10.2018
 */

.faze-spoiler {
  & > .faze-title, & > [data-faze-spoiler="title"] {
    user-select: none;

    &:hover {
      cursor: pointer;
    }
  }

  & > .faze-body, & > [data-faze-spoiler="body"] {
    display: none;
  }

  &.faze-active {
    & > .faze-body, & > [data-faze-spoiler="body"] {
      display: block;
    }
  }
}
