/**
 * Стили для плагина
 *
 * Автор: Ерохин Максим
 * Дата: 09.10.2024
 */

[data-faze='colorchanger'] {
  position: relative;

  // Холдер для цветов
  .faze-colorchanger-colors {
    position: absolute;

    display: flex;
    gap: 0.2rem;

    // Строка цветов
    .faze-colorchanger-row {
      display: flex;
      gap: 0.2rem;

      // Цвет
      .faze-colorchanger-color,
      .faze-colorchanger-more {
        width: 2.4rem;
        height: 2.4rem;

        padding: 0.2rem;

        background-color: var(--faze-color-white);
        border: 0.1rem solid var(--faze-color-border);
        border-radius: var(--faze-border-radius);

        // При наведении
        &:hover {
          cursor: pointer;
        }
      }

      // Показать ещё
      .faze-colorchanger-more {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      // Скрываем всё кроме первой
      &:not(:first-child) {
        display: none;
      }

      // Скрываем последний цвет в первой строке чтобы кнопка "Показать ещё" была на равне с остальными
      &:first-child {
        // Цвет
        .faze-colorchanger-color {
          &:last-of-type {
            display: none;
          }
        }
      }
    }

    // При наведении
    &:hover {
      // Строка цветов
      .faze-colorchanger-row {
        // Показать ещё
        .faze-colorchanger-more {
          display: none;
        }

        &:not(:first-child) {
          display: flex;
        }

        &:first-child {
          // Цвет
          .faze-colorchanger-color {
            &:last-of-type {
              display: block;
            }
          }
        }
      }
    }
  }

  // Вертикальное расположение
  &.faze-colorchanger-vertical {
    // Холдер для цветов
    .faze-colorchanger-colors {
      top: 0;
      right: 0;

      flex-direction: row-reverse;

      // Строка цветов
      .faze-colorchanger-row {
        flex-direction: column;
      }
    }
  }

  // Горизонтальное расположение
  &.faze-colorchanger-horizontal {
    // Холдер для цветов
    .faze-colorchanger-colors {
      left: 0;
      bottom: 0;

      flex-direction: column-reverse;

      // Строка цветов
      .faze-colorchanger-row {
        flex-direction: row;
      }
    }
  }
}
