/**
 * Стили для плагина скрола
 *
 * Автор: Ерохин Максим, plarson.ru
 * Дата: 29.09.2018
 */

.faze-scroll {
  position: relative;

  border: 0.1rem solid #000;

  overflow: hidden;

  touch-action: none;

  // Общие стили скролов
  .faze-scroll-vertical, .faze-scroll-horizontal {
    position: absolute;

    display: none;

    background-color: #000;
  }

  // Скролл вертикальной прокрутки
  .faze-scroll-vertical {
    top: 0;
    right: 0;

    width: 0.5rem;
  }

  // Скролл вертикальной прокрутки
  .faze-scroll-horizontal {
    bottom: 0;
    left: 0;

    height: 0.5rem;
  }

  // Показ скроллбаров только если это нужно
  &.faze-scroll-vertical {
    .faze-scroll-vertical {
      display: block;
    }
  }

  &.faze-scroll-horizontal {
    .faze-scroll-horizontal {
      display: block;
    }
  }
}
