/**
 * Стили для плагина шагов
 *
 * Автор: Ерохин Максим, plarson.ru
 * Дата: 02.11.2018
 */

.faze-steps {
  // Заголовки табов
  .faze-steps-headers {
    display: flex;
    flex-direction: row;
    align-items: center;

    border-bottom: 0.1rem solid #000;

    // Заголовок
    .faze-steps-header {
      padding: 1rem;

      border: 0.1rem solid #000;
      border-bottom: none;

      user-select: none;

      // Активный элемент
      &.faze-active {
        background-color: #efefef;
      }
    }
  }

  // Тела табов
  .faze-steps-bodies {
    .faze-steps-body {
      display: none;

      padding-top: 1rem;

      // По умолчанию скрываем все пути
      .faze-steps-path {
        display: none;

        // Если путь выбран, то показываем его
        &.faze-steps-path-selected {
          display: block;
        }
      }

      // Активный элемент
      &.faze-active {
        display: block;
      }
    }
  }
}
