/**
 * Стили для плагина селекта
 *
 * Автор: Ерохин Максим
 * Дата: 26.09.2018
 */

.faze-select {
  position: relative;

  // Шапка
  &>.faze-title,
  &>.title {
    display: inline-flex;

    padding: var(--faze-padding-sm) var(--faze-padding-md);

    line-height: var(--faze-line-height);

    border: 0.1rem solid var(--faze-color-border);

    user-select: none;
    z-index: 5;

    // При наведении
    &:hover {
      cursor: pointer;
    }
  }

  // Тело
  &>.faze-body,
  &>.body {
    position: absolute;

    display: none;

    margin-top: var(--faze-margin-md);
    padding: var(--faze-padding-md);

    background-color: var(--faze-color-background);
    border: 0.1rem solid var(--faze-color-border);

    animation: fadeInUp 0.2s ease-out;

    z-index: 6;

    // Опция
    &>.faze-option {

      // При наведении
      &:hover {
        cursor: pointer;
      }
    }
  }

  // Активно
  &.faze-active {

    &>.faze-body,
    &>.body {
      display: block;
    }
  }
}