/**
 * Стили для методов помощников
 *
 * Автор: Ерохин Максим, plarson.ru
 * Дата: 17.01.2019
 */

// Анимация появления информационного сообщения
@keyframes faze-notification-appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// Обертка для информационнах сообщений, нужна для того, чтобы они шли друг под другом
.faze-notification-wrapper {
  position: fixed;
  top: 0;
  left: 0;

  display: block;
  width: 100%;

  z-index: 5;

  // Информационное сообщение
  .faze-notification {
    display: block;
    width: 100%;

    padding: 1rem;

    color: #fff;
    font-size: 1.6rem;
    text-align: center;

    animation-name: faze-notification-appear;
    animation-duration: 1s;
  }
}

// Анимация исчезновения информационного сообщения о копировании
@keyframes faze-copy-notification-disappear {
  0% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// Класс для элемента при нажатии на который должны скопировать его текстовое содержимое в буфер обмена
.faze-copy-text {
  position: relative;

  // Информирование о копировании
  .faze-notification {
    position: absolute;
    left: 0;
    bottom: -1rem;

    font-size: 1rem;
    font-weight: normal;
    text-transform: none;
    text-decoration: none;
    line-height: 1;

    opacity: 0;

    animation-name: faze-copy-notification-disappear;
    animation-duration: 2s;
  }

  // При наведении
  &:hover {
    cursor: pointer;
  }
}

// Перетаскивание элементов
.faze-drag-active {
  cursor: move;
}
