/**
 * Стили для плагина поисковика
 *
 * Автор: Ерохин Максим
 * Дата: 07.12.2024
 */

.faze-finder {
  // Контейнер инпута
  .faze-finder-input-holder {
    position: relative;

    // Инпут
    input {
      width: 100%;

      padding-right: 3rem;
    }

    // Кнопка очистки
    .faze-finder-clear-button {
      position: absolute;
      top: 50%;
      right: 0.6rem;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 1.6rem;
      height: 1.6rem;

      padding: 0;
      margin: 0;

      border: none;
      background: none;

      transform: translateY(-50%);

      // Иконка
      &:before {
        content: '\f00d';

        color: var(--faze-color-text);
        font-family: var(--faze-font-fontawesome);
        font-size: 1.6rem;
      }

      // При наведении
      &:hover {
        cursor: pointer;
      }
    }
  }
}
