/**
 * Стили для плагина табов
 *
 * Автор: Ерохин Максим
 * Дата: 26.09.2018
 */

// Базовые стили для работы
.faze-tabs,
.faze-tab,
[data-faze~='tab'] {

  // Тела табов
  .faze-tab-body,
  [data-faze-tab='body'],
  [data-faze-tab-body]:not([data-faze-tab='header']):not(.faze-tab-header) {
    display: none;

    &:first-of-type {
      display: block;
    }
  }
}

// Стили для визуала
.faze-tabs[data-faze-styles='true'],
.faze-tab[data-faze-styles='true'],
[data-faze~='tab'][data-faze-styles='true'] {

  // Заголовки табов
  .faze-tabs-headers {
    display: flex;
    flex-direction: row;
    align-items: center;

    border-bottom: 0.1rem solid var(--faze-color-border);
  }

  // Заголовок
  .faze-tab-header,
  [data-faze-tab='header'],
  [data-faze-tab-head] {
    padding: 1rem;

    color: var(--faze-color-text);
    font-size: 1.4rem;
    line-height: 1;

    border: 0.1rem solid var(--faze-color-border);
    border-bottom: none;

    user-select: none;

    &:not(:first-child) {
      border-left: none;
    }

    // При наведении
    &:hover {
      background-color: var(--faze-color-background-hover);

      cursor: pointer;
    }

    // Активный таб
    &.faze-active {
      background-color: var(--faze-color-background-active);
    }
  }

  // Тела табов
  .faze-tab-body,
  [data-faze-tab='body'],
  [data-faze-tab-body] {
    padding-top: 1rem;
  }
}