/**
 * Стили для плагина табов
 *
 * Автор: Ерохин Максим, plarson.ru
 * Дата: 26.09.2018
 */

// Базовые стили для работы
.faze-tabs, .faze-tab, [data-faze~="tab"] {
  // Тела табов
  .faze-tab-body, [data-faze-tab="body"] {
    display: none;

    padding-top: 1rem;

    &:first-of-type {
      display: block;
    }
  }
}

// Стили для визуала
.faze-tabs[data-faze-styles="true"], .faze-tab[data-faze-styles="true"] {
  // Заголовки табов
  .faze-tabs-headers {
    display: flex;
    flex-direction: row;
    align-items: center;

    border-bottom: 0.1rem solid #000;
  }

  .faze-tab-header, [data-faze-tab="header"] {
    padding: 1rem;

    border: 0.1rem solid #000;
    border-bottom: none;

    user-select: none;

    &:not(:first-child) {
      border-left: none;
    }

    &.faze-active {
      background-color: #efefef;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
