<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    .carousel-test {
      width: 500px;
      margin-left: 200px;
    }

    .faze-page {
      border: 1px solid #000;
    }
  </style>
</head>
<body>
<div class="carousel-test" data-faze="carousel" data-faze-carousel-animation-type="fade" data-faze-carousel-arrows="false" data-faze-carousel-pages="true" data-faze-carousel-counter="true" data-faze-carousel-disallow-ranges='[{"from": 800, "to": 1000}]'>
  <img src="http://smarts.test/img/posts/1.png" alt="">
  <img src="http://smarts.test/img/posts/2.png" alt="">
  <img src="http://smarts.test/img/posts/3.png" alt="">
  <img src="http://smarts.test/img/posts/4.png" alt="">
  <img src="http://smarts.test/img/posts/5.png" alt="">
</div>
</body>
</html>
