<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>ColorChanger</title>
  </head>
  <body>
    <div
      class="product"
      data-faze="colorchanger"
      data-faze-colorchanger-change-hover-on="true"
      data-faze-colorchanger-data='[{"id": 9937076, "image": "/220x220xffffff/i/product/gi-005913123XL.jpg", "article": "gi-005913123XL", "name": "Жилет унисекс Gentlemen черный, размер 3XL", "price": 3095.00, "balance": 0, "brand": "Sols", "group": "gi-64573", "color": "черный", "link": "gi-005913123xl"},
    {"id": 9937077, "image": "/220x220xffffff/i/product/gi-00591312L.jpg", "article": "gi-00591312L", "name": "Жилет унисекс Gentlemen черный, размер L", "price": 2686.00, "balance": 0, "brand": "Sols", "group": "gi-64573", "color": "черный", "link": "gi-00591312l"},
    {"id": 9937078, "image": "/220x220xffffff/i/product/gi-00591312M.jpg", "article": "gi-00591312M", "name": "Жилет унисекс Gentlemen черный, размер M", "price": 2686.00, "balance": 0, "brand": "Sols", "group": "gi-64573", "color": "черный", "link": "gi-00591312m"},
    {"id": 9937079, "image": "/220x220xffffff/i/product/gi-00591312S.jpg", "article": "gi-00591312S", "name": "Жилет унисекс Gentlemen черный, размер S", "price": 2686.00, "balance": 0, "brand": "Sols", "group": "gi-64573", "color": "черный", "link": "gi-00591312s"},
    {"id": 9937080, "image": "/220x220xffffff/i/product/gi-00591312XL.jpg", "article": "gi-00591312XL", "name": "Жилет унисекс Gentlemen черный, размер XL", "price": 2686.00, "balance": 0, "brand": "Sols", "group": "gi-64573", "color": "черный", "link": "gi-00591312xl"},
    {"id": 9937081, "image": "/220x220xffffff/i/product/gi-00591312XS.jpg", "article": "gi-00591312XS", "name": "Жилет унисекс Gentlemen черный, размер XS", "price": 2686.00, "balance": 0, "brand": "Sols", "group": "gi-64573", "color": "черный", "link": "gi-00591312xs"},
    {"id": 9937082, "image": "/220x220xffffff/i/product/gi-00591312XXL.jpg", "article": "gi-00591312XXL", "name": "Жилет унисекс Gentlemen черный, размер XXL", "price": 2686.00, "balance": 0, "brand": "Sols", "group": "gi-64573", "color": "черный", "link": "gi-00591312xxl"},
    {"id": 9937083, "image": "/220x220xffffff/i/product/gi-00591312XXS.jpg", "article": "gi-00591312XXS", "name": "Жилет унисекс Gentlemen черный, размер XXs", "price": 2686.00, "balance": 0, "brand": "Sols", "group": "gi-64573", "color": "черный", "link": "gi-00591312xxs"},
    {"id": 9937084, "image": "/220x220xffffff/i/product/gi-005913183XL.jpg", "article": "gi-005913183XL", "name": "Жилет унисекс Gentlemen темно-синий, размер 3XL", "price": 3095.00, "balance": 0, "brand": "Sols", "group": "gi-64573", "color": "синий;темно-синий", "link": "gi-005913183xl"},
    {"id": 9937085, "image": "/220x220xffffff/i/product/gi-00591318L.jpg", "article": "gi-00591318L", "name": "Жилет унисекс Gentlemen темно-синий, размер L", "price": 2686.00, "balance": 0, "brand": "Sols", "group": "gi-64573", "color": "синий;темно-синий", "link": "gi-00591318l"},
    {"id": 9937086, "image": "/220x220xffffff/i/product/gi-00591318M.jpg", "article": "gi-00591318M", "name": "Жилет унисекс Gentlemen темно-синий, размер M", "price": 2686.00, "balance": 0, "brand": "Sols", "group": "gi-64573", "color": "синий;темно-синий", "link": "gi-00591318m"},
    {"id": 9937087, "image": "/220x220xffffff/i/product/gi-00591318S.jpg", "article": "gi-00591318S", "name": "Жилет унисекс Gentlemen темно-синий, размер S", "price": 2686.00, "balance": 0, "brand": "Sols", "group": "gi-64573", "color": "синий;темно-синий", "link": "gi-00591318s"},
    {"id": 9937088, "image": "/220x220xffffff/i/product/gi-00591318XL.jpg", "article": "gi-00591318XL", "name": "Жилет унисекс Gentlemen темно-синий, размер XL", "price": 2686.00, "balance": 0, "brand": "Sols", "group": "gi-64573", "color": "синий;темно-синий", "link": "gi-00591318xl"},
    {"id": 9937089, "image": "/220x220xffffff/i/product/gi-00591318XS.jpg", "article": "gi-00591318XS", "name": "Жилет унисекс Gentlemen темно-синий, размер XS", "price": 2686.00, "balance": 0, "brand": "Sols", "group": "gi-64573", "color": "синий;темно-синий", "link": "gi-00591318xs"},
    {"id": 9937090, "image": "/220x220xffffff/i/product/gi-00591318XXL.jpg", "article": "gi-00591318XXL", "name": "Жилет унисекс Gentlemen темно-синий, размер XXL", "price": 2686.00, "balance": 0, "brand": "Sols", "group": "gi-64573", "color": "синий;темно-синий", "link": "gi-00591318xxl"},
    {"id": 9937091, "image": "/220x220xffffff/i/product/gi-00591318XXS.jpg", "article": "gi-00591318XXS", "name": "Жилет унисекс Gentlemen темно-синий, размер XXs", "price": 2686.00, "balance": 0, "brand": "Sols", "group": "gi-64573", "color": "синий;темно-синий", "link": "gi-00591318xxs"}]'
    >
      <img
        src="http://bison-media.plarson.ru/product256x256xffffff/i/product/gi-005913123XL.jpg"
        data-faze-colorchanger="image"
        data-faze-colorchanger-type="src"
      />
      <div data-faze-colorchanger="article">Артикул</div>
      <div data-faze-colorchanger="name">Название</div>
      <div
        data-faze-colorchanger="price"
        data-faze-colorchanger-type="text,data"
        data-price="цена"
      >
        Цена
      </div>
    </div>
  </body>
</html>
