<!DOCTYPE html>
<html lang="ru" class="test-finder">
  <head>
    <meta charset="UTF-8" />
    <title>Finder</title>
  </head>
  <body>
    <section
      data-faze="finder"
      data-faze-finder-mode="visibility"
      data-faze-finder-clear-button="true"
    >
      <input type="text" data-faze-finder="input" />
      <div data-faze-finder="items">
        <div data-faze-finder="item" data-faze-finder-item-value="Тест1">
          Тест1
        </div>
        <div data-faze-finder="item" data-faze-finder-item-value="Тест2">
          Тест2
        </div>
        <div data-faze-finder="item" data-faze-finder-item-value="Тест3">
          Тест3
        </div>
      </div>
    </section>
  </body>
</html>
