<!DOCTYPE html>
<html lang="ru" class="test-finder">
  <head>
    <meta charset="UTF-8" />
    <title>Finder</title>
  </head>
  <body>
    <form action="/" data-faze="form">
      <input
        type="tel"
        name="phone"
        placeholder="Телефон"
        data-faze-form-input="^\d{3}$"
        data-faze-form-message="Введите три цифры!"
      />
      <input data-faze-form-input type="number" placeholder="Номер" required />
      <input
        data-faze-form-input
        type="text"
        placeholder="Что нибудь"
        required
      />
      <!-- \+7 \(\d{3}\) \d{3}-\d{2}-\d{2} -->
      <button type="submit">Отправить</button>
    </form>
  </body>
</html>
