<!DOCTYPE html>
<html lang="ru" class="test-finder">
  <head>
    <meta charset="UTF-8" />
    <title>Finder</title>
  </head>
  <body>
    <form action="/" data-faze="form">
      <input
        type="tel"
        name="phone"
        placeholder="Телефон"
        data-faze-form-rules='[{"message":"Введите три цифры!", "rule":"^\d{3}$"},{"message":"Введите пять цифр!", "rule":"^\d{5}$"}]'
      />
      <input
        data-faze-form-input
        type="number"
        placeholder="Номер"
        data-faze-form-rules='[{"message":"Введите что нибудь!", "rule":"validation"}]'
        required
      />
      <input
        data-faze-form-input
        type="text"
        placeholder="Что нибудь"
        data-faze-form-rules='[{"message":"Хоть что-то!", "rule":"validation"}]'
        required
      />
      <!-- \+7 \(\d{3}\) \d{3}-\d{2}-\d{2} -->
      <button type="submit">Отправить</button>
    </form>
  </body>
</html>
