<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Gallery</title>
</head>
<body>
<img src="https://placeimg.com/300/300/tech" width="100" height="100" data-faze="gallery" data-faze-gallery-thumbnails-position="bottom">
<img src="https://placeimg.com/301/300/tech" width="100" height="100" data-faze="gallery" data-faze-gallery-thumbnails-position="bottom">
<img src="https://placeimg.com/302/300/tech" width="100" height="100" data-faze="gallery" data-faze-gallery-thumbnails-position="bottom">
</body>
</html>
