<!DOCTYPE html>
<html lang="ru" class="test-helpers">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Helpers</title>
  <style>
    .mouse-over {
      width: 200px;
      height: 200px;
      background: #000;
      margin-left: 100px;
      margin-top: 100px;
    }
  </style>
</head>

<body>
  <label class="faze-file-input">
    <span class="faze-file-input-caption">Загрузить лого</span>
    <input type="file" name="offer_img_image" class="faze-file-input-file" />
  </label>

  <input type="text" class="faze-mask-mobile" />

  <div class="mouse-over"></div>
</body>

</html>