<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Title</title>
</head>

<body>
  <!-- <div style="height:1500px"></div> -->
  <div class="lazyload-test" data-faze="1lazyload"
    data-faze-lazyload-url="https://www.admos-gifts.ru/?show=420889&mime=txt" data-faze-lazyload-offset="100">
    <div class="faze-lazyload-placeholder faze-lazyload-placeholder-big"></div>
    <div class="faze-lazyload-placeholder"></div>
    <div class="faze-lazyload-placeholder faze-lazyload-placeholder-picture"></div>
    <div class="faze-lazyload-placeholder faze-lazyload-placeholder-avatar"></div>
    <p>Текст</p>
  </div>
</body>

</html>