<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="https://www.admos-gifts.ru/i/css/ver4/compiled/admos-gifts.defer.less.min.css" />
    <link rel="stylesheet" href="https://www.admos-gifts.ru/i/css/ver4/compiled/admos-gifts.core.less.min.css" />
    <link rel="stylesheet" href="https://www.admos-gifts.ru/i/css/ver4/compiled/admos-gifts.home.less.min.css" />
  </head>
  <body>
    <div data-faze="placeholder" data-faze-placeholder-url="https://www.admos-gifts.ru/?show=420933&mime=txt"></div>
    <!-- <div class="special">
      <div class="title">
        <div class="h2">Специально для вас</div>
      </div>
      <div class="special-items">
        <div class="special-item" style="background: url('https://www.admos-gifts.ru/webp/i/banner/special_01.png') right bottom no-repeat #eef1fa">
          <div class="name">Пригласить<br />менеджера в офис</div>
          <div class="text"><span>Позовите, мы приедем с чемоданами образцов-новинок к вам в гости</span> <button type="button" class="btn btn-primary btn-manager" data-faze="custom-modal" data-faze-modal-url="/_manager.txt?show=297533" data-faze-modal-class="modal-for-you modal-manager" data-faze-modal-title="Выездной шоу-рум к Вам в офис">Пригласить</button></div>
        </div>
        <div class="special-item" style="background: url('https://www.admos-gifts.ru/webp/i/banner/special_02.png') right bottom no-repeat #fee4e4">
          <div class="name">Приехать<br />в шоу-рум</div>
          <div class="text"><span>Самый большой Шоу-Рум подарков в Москве. 19000+ живых образцов</span> <button type="button" class="btn btn-primary btn-showroom" data-faze="custom-modal" data-faze-modal-url="/_manager.txt?show=297533" data-faze-modal-class="modal-for-you modal-showroom" data-faze-modal-title="ШОУ-РУМ ADMOS М. ПОЛЕЖАЕВСКАЯ">Прислать такси</button></div>
        </div>
        <div class="special-item" style="background: url('https://www.admos-gifts.ru/webp/i/banner/special_03.png') right bottom no-repeat #e2ecfe">
          <div class="name">Видео<br />консультация</div>
          <div class="text"><span>Оставьте заявку, и наши эксперты проведут онлайн-презентацию подарков</span> <a href="/videoconsult.html" target="_blank" class="btn btn-primary">Оставить заявку</a></div>
        </div>
      </div>
    </div> -->
  </body>
</html>
