<!DOCTYPE html>
<html lang="ru" class="test-rest">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>REST</title>
</head>

<body>
  <div class="js-rest">
    <button type="button" class="js-replace-with">Тест "replace_with"</button>
    <div class="js-replace-with-body">Меняем тут</div>
  </div>

  <form action="GET" data-faze-restapi-form>
    <input type="text" name="test" value="test">

    <button name="google" type="submit">Google</button>
    <button name="yandex" type="submit">Яндекс</button>
    <button name="mail" type="submit">Mail</button>
  </form>
</body>

</html>