<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select</title>
  <style>

  </style>
</head>

<body>
  <div class="select" data-faze="select">
    <div class="title">По умолчанию</div>
    <div class="body">
      <div class="faze-option" data-faze-select-value="1" data-desc="0" data-sort="product_enm_main">По умолчанию</div>
      <div class="faze-option" data-faze-select-value="3" data-desc="0" data-sort="product_dec_price">Сначала дешёвые
      </div>
      <div class="faze-option" data-faze-select-value="4" data-desc="1" data-sort="product_dec_price">Сначала дорогие
      </div>
      <div class="faze-option" data-faze-select-value="6" data-desc="1" data-sort="product_int_balance1">По тиражу в
        наличии</div>
    </div>
  </div>
</body>

</html>