<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>SmartSelect</title>
  </head>
  <body>
    <div style="height: 100rem; margin-top: 20px"></div>
    <input style="margin-top: 20px" type="text" data-faze-styles data-faze="smartselect" data-faze-smartselect-api="Plarson" data-faze-smartselect-field="user_chr_name" data-faze-smartselect-url="http://pechatlogo.plarson.ru/_clients?mime=json&show=405991&array=405991&user_chr_name=" data-faze-smartselect-fixed="true" />
    <div style="height: 100rem"></div>
  </body>
</html>
