<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>SmartSelect</title>
  </head>
  <body>
    <form>
      <input type="text" name="name" required />
      <input style="margin-top: 20px" type="text" data-faze-styles data-faze="smartselect" data-faze-smartselect-api="Plarson" data-faze-smartselect-field="user_chr_name" data-faze-smartselect-url="http://pechatlogo.plarson.ru/_clients?mime=json&show=405991&array=405991&user_chr_name=" data-faze-smartselect-fixed="true" />
      <input type="text" name="name" data-faze-styles data-faze="smartselect" data-faze-smartselect-api="dadata" data-faze-smartselect-url="suggest/fio" data-faze-smartselect-parts='["NAME"]' data-faze-smartselect-field="value" data-faze-smartselect-fixed="true" value="" placeholder="Имя" />
      <input type="text" name="name" data-faze-styles data-faze="smartselect" data-faze-smartselect-api="dadata" data-faze-smartselect-url="suggest/fio" data-faze-smartselect-parts='["PATRONYMIC"]' data-faze-smartselect-field="value" data-faze-smartselect-fixed="true" value="" placeholder="Имя" />
      <button>Принять</button>
    </form>
  </body>
</html>
