<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Title</title>
</head>

<body>
  <!--<div data-faze="tab" data-faze-styles="true" class="faze-tab">-->
  <!--  <div class="faze-tabs-headers">-->
  <!--    <div data-faze-tab-head="1">Таб 1</div>-->
  <!--    <div data-faze-tab-head="2">Таб 2</div>-->
  <!--  </div>-->
  <!--  <div class="faze-tabs-bodies">-->
  <!--    <div data-faze-tab-body="1">Тело 1</div>-->
  <!--    <div data-faze-tab-body="2">-->

  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->

  <div data-faze="tab" data-faze-tab-use-hash="true" data-faze-styles="true" data-faze-tab-header-active-class="active"
    data-faze-tab-max-bodies="2">
    <div class="faze-tabs-headers">
      <div class="faze-tab-header" data-faze-tab-body="3">Таб 3</div>
      <div class="faze-tab-header" data-faze-tab-body="4">Таб 4</div>
    </div>
    <div class="faze-tabs-bodies">
      <div class="faze-tab-body" data-faze-tab-body="3">Тело 3</div>
      <div class="faze-tab-body" data-faze-tab-body="3">Тело 3</div>
      <div class="faze-tab-body" data-faze-tab-body="3">Тело 3</div>
      <div class="faze-tab-body" data-faze-tab-body="4">Тело 4</div>
      <div class="faze-tab-body" data-faze-tab-body="4">Тело 4</div>
      <div class="faze-tab-body" data-faze-tab-body="4">Тело 4</div>
      <div class="faze-tab-body" data-faze-tab-body="4">Тело 4</div>
      <div class="faze-tab-body" data-faze-tab-body="4">Тело 4</div>
    </div>
  </div>
</body>

</html>