<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<button style="margin-left: 500px; margin-top: 500px;" data-faze="tooltip" data-faze-tooltip-text="Test" data-faze-tooltip-side="bottom" data-faze-tooltip-event="click">
  Спойлер
</button>

<button style="margin-left: 500px; margin-top: 500px;" data-faze="tooltip" data-faze-tooltip-text="Test" data-faze-tooltip-side="bottom" data-faze-tooltip-event="click">
  Спойлер
</button>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div style="display:flex;flex-direction: column;align-items: flex-start">
  <input type="text" placeholder="Стандартный инпут"><br>
  <textarea name="" id="" cols="30" rows="10" placeholder="Поле ввода текста"></textarea><br>
  <button>Кнопка</button>
  <br>
  <div style="display:flex;">
    <label><input type="checkbox"> Стандарт</label>&nbsp;&nbsp;&nbsp;&nbsp;
    <label><input type="checkbox" checked> Выбран</label>
  </div>
  <br>
  <div style="display:flex;">
    <label><input type="radio"> Стандарт</label>&nbsp;&nbsp;&nbsp;&nbsp;
    <label><input type="radio" checked> Выбран</label>
  </div>
  <br>
  <select name="" id="">
    <option value="">Выпадающий список</option>
  </select>
  <br>
  <input type="file">
</div>
</body>
</html>
