<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<button style="margin-left: 500px; margin-top: 500px;" data-faze="tooltip" data-faze-tooltip-text="Test" data-faze-tooltip-side="bottom" data-faze-tooltip-event="click">
  Спойлер
</button>

<button style="margin-left: 500px; margin-top: 500px;" data-faze="tooltip" data-faze-tooltip-text="Test" data-faze-tooltip-side="bottom" data-faze-tooltip-event="click">
  Спойлер
</button>
</body>
</html>
