<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <style>
        .zoom-container {
            display: inline-flex;
        }
    </style>
</head>

<body>
    <div class="zoom-container">
        <img src="https://www.admos-gifts.ru/product600x600xffffff/i/product/1116900.00.jpg" data-faze="zoom"
            data-faze-full-image="https://www.admos-gifts.ru/i/product/1116900.00.jpg">
    </div>
</body>

</html>