/**
 * Стили для плагина тултипа
 *
 * Автор: Ерохин Максим
 * Дата: 23.09.2018
 */

.faze-tooltip {
  position: absolute;

  padding: 1rem;

  color: var(--faze-color-text);
  font-size: var(--faze-size-sm);
  line-height: var(--faze-line-height);

  background: var(--faze-color-white);
  border-radius: var(--faze-border-radius);
  box-shadow: var(--faze-shadow-light);

  animation: fadeInUp 0.2s ease-out;

  z-index: 30;
}

// Если появляться по клику, то при наведении показываем указатель
[data-faze~='tooltip'][data-faze-tooltip-event='click'] {

  // При наведении
  &:hover {
    cursor: pointer;
  }
}