/**
 * Стили для плагина карусели
 *
 * Автор: Ерохин Максим, plarson.ru
 * Дата: 27.09.2018
 */

.carousel {
  position: relative;

  .carousel-holder {
    position: relative;

    display: flex;
  }

  // Анимация появления-исчезновения
  &.animation-fade {
    .item {
      display: flex;

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      width: 100%;
      height: 100%;

      transition-property: opacity;

      z-index: 1;

      &.active {
        position: relative;

        opacity: 1;

        z-index: 2;
      }

      &:not(.active) {
        opacity: 0;
      }
    }
  }

  // Анимация слайда
  &.animation-slide {
    position: relative;

    overflow: hidden;

    &.direction-horizontal {
      & > .carousel-holder {
        left: 0;

        width: 5000%;

        transition-property: left;

        & > .item {
          width: 2%;
        }
      }
    }

    &.direction-vertical {
      & > .carousel-holder {
        top: 0;

        height: 5000%;

        transition-property: top;
      }
    }
  }

  // Элементы управления
  & > .carousel-controls {
    // Пагинация
    .carousel-pages {
      display: flex;
      flex-direction: row;
      align-items: center;

      position: absolute;
      left: 50%;
      bottom: 2rem;

      transform: translateX(-50%);

      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      z-index: 4;

      & > .page {
        width: 1.2rem;
        height: 1.2rem;

        background-color: #fff;
        border-radius: 50%;

        & + .page {
          margin-left: 0.5rem;
        }

        &.active {
          background-color: #000;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    // Стрелки переключения
    & > .carousel-arrows {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      z-index: 3;

      & > .carousel-arrow {
        position: absolute;
        top: 0;

        width: 10rem;
        height: 100%;

        &:after {
          content: '';

          display: block;
          width: 2rem;
          height: 2rem;

          position: absolute;
          top: 50%;
          left: 50%;

          border-top: 0.3rem solid #000;
        }

        &.carousel-arrow-prev {
          left: 0;

          &:after {
            border-left: 0.3rem solid #000;

            transform: translate(-50%, -50%) rotateZ(-45deg);
          }
        }

        &.carousel-arrow-next {
          right: 0;

          &:after {
            border-right: 0.3rem solid #000;

            transform: translate(-50%, -50%) rotateZ(45deg);
          }
        }

        &:hover {
          cursor: pointer;

          &:after {
            border-color: #666;
          }
        }
      }
    }

    // Счетчик
    .carousel-counter {
      position: absolute;
      right: 0.5rem;
      bottom: 0.5rem;

      line-height: 1;

      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}
