/**
 * Стили для плагина карусели
 *
 * Автор: Ерохин Максим, plarson.ru
 * Дата: 27.09.2018
 */

.carousel {
  position: relative;

  .carousel-holder {
    position: relative;

    &.animation-fade {
      .item {
        display: flex;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        width: 100%;
        height: 100%;

        transition-property: opacity;

        z-index: 1;

        &.active {
          position: relative;

          opacity: 1;

          z-index: 2;
        }

        &:not(.active) {
          opacity: 0;
        }
      }
    }
  }

  .carousel-pages {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: absolute;
    left: 50%;
    bottom: 2rem;

    transform: translateX(-50%);

    z-index: 3;

    & > .page {
      width: 1.2rem;
      height: 1.2rem;

      background-color: #fff;
      border-radius: 50%;

      & + .page {
        margin-left: 0.5rem;
      }

      &.active {
        background-color: #000;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
