/**
 * Стили для плагина галереи превью
 *
 * Автор: Ерохин Максим
 * Дата: 29.06.2021
 */

// Главная фото
.faze-thumbgallery {
  --faze-thumbgallery-offset: 0;

  position: relative;

  // Враппер для карусели
  .faze-thumbgallery-holder {
    display: flex;

    overflow: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;

    // Картинка
    img {
      position: relative;
      width: 100%;
      height: 100%;
      flex-shrink: 0;

      scroll-snap-align: start;
      scroll-snap-stop: always;

      overflow: hidden;
    }
  }

  // Слайдер фотографий
  .faze-thumbgallery-gallery {
    position: absolute;
    left: 0;
    bottom: 0;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.4rem;

    width: 100%;
    height: 0.2rem;

    margin: 0 auto;

    visibility: visible;

    z-index: 2;

    // Фотография
    .faze-thumbgallery-gallery-element {
      height: 100%;

      background-color: rgb(190, 190, 190);

      // Активный элемент
      &.active {
        background-color: rgb(43, 43, 43);
      }
    }

    // Если один или ноль элементов то скрываем
    &[data-faze-thumbgallery-total='0'],
    &[data-faze-thumbgallery-total='1'] {
      display: none;
    }

    // Рассчёт относительно количества элементов
    &[data-faze-thumbgallery-total='2'] {
      grid-template-columns: repeat(2, 1fr);
    }

    &[data-faze-thumbgallery-total='3'] {
      grid-template-columns: repeat(3, 1fr);
    }

    &[data-faze-thumbgallery-total='4'] {
      grid-template-columns: repeat(4, 1fr);
    }

    &[data-faze-thumbgallery-total='5'] {
      grid-template-columns: repeat(5, 1fr);
    }

    &[data-faze-thumbgallery-total='6'] {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  // При наведении
  &:hover {
    .faze-thumbgallery-gallery {
      visibility: visible;
    }
  }
}