/**
 * Стили для плагина дропдауна
 *
 * Автор: Ерохин Максим
 * Дата: 26.09.2018
 */

// Базовые стили для работы
.faze-dropdown,
[data-faze='dropdown'] {
  position: relative;

  // Шапка
  .faze-title,
  [data-faze-dropdown='title'] {
    display: inline-flex;
    padding: var(--faze-padding-sm) var(--faze-padding-md);

    border: 0.1rem solid var(--faze-color-border);

    line-height: var(--faze-line-height);

    user-select: none;
    z-index: 5;

    // При наведении
    &:hover {
      cursor: pointer;
    }
  }

  // Тело
  .faze-body,
  [data-faze-dropdown='body'] {
    position: absolute;

    display: none;

    margin-top: var(--faze-margin-md);
    padding: var(--faze-padding-md);

    background-color: var(--faze-color-background);
    border: 0.1rem solid var(--faze-color-border);

    animation: fadeInUp 0.2s ease-out;

    z-index: 6;
  }

  // Активный элемент
  &.faze-active {

    // Тело
    .faze-body,
    [data-faze-dropdown='body'] {
      display: block;
    }
  }
}